!/figures/
!/bibliography/
/.DS_Store
*.DS_STORE
**/tmp
**/work
**/CMakeFiles
CmakeCache.txt
\#*#
.#*
*~
*.swap
*.swp
*.swo
.kdev4
octave-core
core
*.core
*.orig
*.aux
*.lot
*.toc
*.log
*.bbl
*.blg
*.out
*.fls
*.nav
*.snm
*.vrb
*.spl
